.article-details-screen
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 20px

.article-details-screen__cards-container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.aditional-info__rating
  position: relative

.rating__number
  position: absolute
  top: 10px
  left: 17px

.aditional-info__info
  display: flex
  gap: 20px
  border-top: 1px solid #e7e8ea
  border-bottom: 1px solid #e7e8ea