<div class="screen-container home-screen">
    <div class="home-screen__buttons">
        <custom-button icon="fa fa-film" [isActive]="(mode | async) === 'movies'" (click)="setMode('movies')">Movies</custom-button>
        <custom-button icon="fa fa-desktop" [isActive]="(mode | async) === 'shows'" (click)="setMode('shows')">TV Shows</custom-button>
    </div>
    <div class="home-screen__search-bar">
        <search (input)="onSearch($event)"></search>
    </div>
    <div class="home-screen__cards-container">
        <card
            *ngFor="let item of (content | async)"
            title="{{item.title || item.original_name}}"
            imageURL="{{IMAGE_API_URL + item.poster_path}}"
        ></card>
    </div>
</div>