.home-screen
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 20px

.home-screen__cards-container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.home-screen__search-bar
  