<div class="screen-container home-screen">
    <div class="home-screen__buttons">
        <custom-button>Movies</custom-button>
        <custom-button>TV Shows</custom-button>
    </div>
    <div class="home-screen__search-bar">
        <search></search>
    </div>
    <div class="home-screen__cards-container">
        <card
        title="Movie title"
        imageURL="https://dummyimage.com/600x400/000/fff"></card>
        <card
        title="Movie title"
        imageURL="https://dummyimage.com/600x400/000/fff"></card>
        <card
        title="Movie title"
        imageURL="https://dummyimage.com/600x400/000/fff"></card>
    </div>
</div>