.button
  width: 150px
  height: 40px
  border-radius: 8px
  border: 1px solid black
  cursor: pointer

.button--active
  background-color: black
  box-shadow: 0 5px #666
  transform: translateY(4px)

.button:hover
  background-color: black
  color: white
