/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  height: 100vh

.screen-container
  padding-left: 100px
  padding-right: 100px
  padding-top: 60px
  height: 100%
